<div class="center jumbotron text-center">
	<h1>StaticPages#home</h1>
	<p>Find me in app/views/static_pages/home.html.erb</p>
	<btn class="btn-primary btn">Sign up now</btn>
	<!-- <%= link_to image_tag("kitten.png", alt: "Kitten", style: "display: block;"), '#' %> -->

</div>
